@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-white: #fff;
  --color-slate-300: #d5e1ef;
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-blue-600: #2c7dfa;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-300);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  padding: 0%;
}

.container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-white);
  gap: 24px;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.qr-container {
  position: relative;
  border-radius: 10px;
  padding: 64px;
  background-color: var(--color-blue-600);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  align-items: center;
}

img {
  max-width: 100%;
}

.text-head {
  text-align: center;
  color: var(--color-slate-900);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.text-body {
  text-align: center;
  color: var(--color-slate-500);
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  align-self: stretch;
}

@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
